---
layout: default
---

<h1>Git/GitHub</h1>



{% assign dados = site.data.store-data | where:"grupo","Visual Studio Code for Windows" %}

{% assign dados2 = dados | group_by:"categoria" %} 


{% for dado in dados2 | group_by:"categoria" %}
---
{{dado}}
---
{% endfor %}






{% assign net = site.data.store-data | group_by:"categoria" %} 
{% for cat in net %}




<div class="col-md-4">
      <article class="blog-post">
     
  

<table class="table table-striped table-sm">
       <thead>
                 
          <tr>
               
            <th class="h5 text-secondary text-uppercase"  scope="col" colspan="2" >{{ cat.name }}</th>
          </tr>
               
        </thead>
        <tbody>

{% for itens in cat.items %}
            {% if itens.grupo == "Git/GitHub" %}
                
              <tr>
            <th scope="row" style="width: 40%">{{ itens.comandos }}</th>
            <td>{{ itens.descricao }}</td>
          </tr>
    
      
{% endif %}
{% endfor %}
                 </tbody>
             </table>
        </article>
           </div>








{% endfor %}
 
<br>

 

 

    




{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}
