---
layout: default
---
{% assign dados = site.data.store-data | group_by:"grupo"%}



<div class="col-md-12">
 {% for dado in dados %}

      <article class="blog-post">
        <h2 class="blog-post-title">{{dado.name}}</h2>
        <p class="blog-post-meta">November 1, 2021 by <a href="#">Conrado</a></p>

        <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, lists, tables, images, code, and more are all supported as expected.</p>
        <hr>
        {% for item in dado.items %}

        <p>{{item.comandos}}</p>
        <p>{{item.descricao}}</p>
        {% endfor %}
      </article>
{% endfor %}
      
</div>

