---
layout: default
---
{% assign dados = site.data.store-data | group_by:"grupo"%}



<div class="col-md-12">
 {% for dado in dados %}

      <article class="blog-post">
        <h2 class="blog-post-title">{{dado.name}}</h2>
        <p class="blog-post-meta">November 1, 2021 by <a href="#">Conrado</a></p>

        <p>Showing first 10 itens.</p>
        <hr>
        {% for item in dado.items %}
        {% if forloop.index < 10 %}

        <p>{{item.comandos}}</p>
        <p>{{item.descricao}}</p>
        {% endif %}
        {% endfor %}
      </article>
{% endfor %}
      
</div>

<!-- Place this tag where you want the button to render. -->
<!-- Place this tag where you want the button to render. -->
<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/ConradoAlmeida/cheatsheets/" aria-label="Watch ConradoAlmeida/cheatsheets on GitHub">GitHub</a>



