---
layout: default
title: Pycharm
date: 2021-11-03 19:02
author: Conrado Almeida
---




<div class="col-md-12">

          <h2 class="blog-post-title">{{page.title}}</h2>
        <p class="blog-post-meta">{{page.date.month}} by <a href="#">{{page.author}}</a></p>
         <p>PyCharm é um ambiente de desenvolvimento integrado usado em programação de computadores, especificamente para a linguagem Python.
         É desenvolvido pela empresa checa JetBrains.</p>
        <hr>
</div>

{% assign dados = site.data.store-data | where:"grupo","Pycharm" %}
{% assign dados2 = dados | group_by:"categoria" %} 

<div class="col-md-12">

<div class="row" data-masonry="{&quot;percentPosition&quot;: true }" style="position: relative; height: 0px;">
  {% for dado in dados2 %}
  <div class="col-sm-6 col-lg-6 mb-2" style="position: absolute; left: 50%; top: 940px;">
    <div class="card">
      <div class="card-body">
  
  
    <article class="blog-post">
    <table class="table table-striped table-sm">
      <thead>
        <tr>  
        <th class="h5 text-secondary text-uppercase"  scope="col" colspan="2" >{{ dado.name }}</th>
        </tr>
      </thead>
  
  {% for item in dado.items %}
   <tr>
    <th scope="row" style="width: 40%">{{ item.comandos }}</th>
    <td>{{ item.descricao }}</td>
   </tr>
  {% endfor %}
  </table>
    </article>
</div>
</div>
</div>
{% endfor %}
 

</div>
</div>







