---
layout: default
---
<div class="col-md-12">

          <h2 class="blog-post-title">Visual Studio Code for Windows</h2>
        <p class="blog-post-meta">November 1, 2021 by <a href="#">Conrado Almeida</a></p>
        <p class="blog-post-meta">Reference <a href="https://code.visualstudio.com/shortcuts/keyboard-shortcuts-windows.pdf">Key Bindings for Visual Studio Code</a></p>
         <p>O Visual Studio Code é um editor de código-fonte desenvolvido pela Microsoft para Windows, Linux e macOS.
         Ele inclui suporte para depuração, controle de versionamento Git incorporado, realce de sintaxe, complementação inteligente de código, snippets e refatoração de código.</p>
        <hr>
</div>



{% assign dados = site.data.store-data | where:"grupo","Visual Studio Code for Windows" %}
{% assign dados2 = dados | group_by:"categoria" %} 

<div class="row">

{% for dado in dados2 %}
<div class="col-md-6">

  


 

{% for item in dado.items %}

{{ item.comandos }}
{{ item.descricao }}
 
{% endfor %}



</div>
{% endfor %}

</div>

<div class="row">
  
{% for dado in dados2 %}
{% for item in dado.items %}
  <div class="col-md-6">{{ item.comandos }}</div>
  {% endfor %}
  {% endfor %}
</div>







{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}
